log.txt
*.DS_Store
*.o
client_driver.cc
client_driver
phat_api.cc
phat_api.hh
phat_server.cc
phat_server.hh
puppet
puppet.cc
puppet.hh
paxos.cc
paxos.hh
scratch/ctl
scratch/ctl.cc
server_driver.cc
server_driver
test/*.hh
*.dSYM
